{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Excel Merger</title>
</head>
<body>
    <div>
        <h1>Excel Sheet Merger</h1>
        <h3>Vertically union sheets from multiple workbooks</h3>
    </div>

    <hr>

    <div>
        <p>1 · SOURCE FOLDER</p>
        {% csrf_token %}
        <input type="file" name="files" id="folderInput" webkitdirectory directory multiple>
        <button id="uploadBtn">Upload</button>
    </div>

    <hr>

    <div>
        <p>2 · FILES</p>
        <div id="lista-fisiere"></div>

        <label>Primary file:
            <select id="primary-file-select"></select>
        </label>
    </div>

    <hr>

    <div>
        <p>3 · SHEET TO MERGE</p>
        <label>Sheet:
            <select id="sheet-select"></select>
        </label>
    </div>

    <hr>

    <div>
        <p>4 · COLUMNS</p>
        <div id="columns-container"></div>
    </div>

    <hr>

    <div>
        <p>5 · OUTPUT FILE</p>
        <input type="file" id="outputFile" accept=".xlsx,.xls">
    </div>

    <hr>

    <div>
        <p>6 · MERGE</p>
        <button id="mergeBtn">Merge</button>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>